// $Date: 2017-06-06 15:15:36 +0300 (Вт, 06 июн 2017) $
// $Id: ReportPrintGroup__TableCell.styl 8547 2017-06-06 12:15:36Z miheev $

// @require '../!Defaults.styl'

.ReportPrintGroup
    &__TableCell
        text-align: left
        padding: 4px 6px
        border-bottom: 1px solid lighten($neutral-color,20)
        &_Head
            border-bottom: 2px solid lighten($neutral-color,10)
            vertical-align: bottom
            color: darken($neutral-color,0)
            // font-size: $font-size-s
        //

