// $Date: 2017-04-02 20:33:52 +0300 (Вс, 02 апр 2017) $
// $Id: NavHeader__Logo.styl 8025 2017-04-02 17:33:52Z miheev $

.NavHeader
    &__Logo
        position: absolute
        // position: relative
        // float: left
        background-image: $NavHeader.Logo.image
        background-repeat: no-repeat
        background-size: cover

