// $Date: 2017-05-22 20:29:39 +0300 (Пн, 22 май 2017) $
// $Id: ReportDisplayGroup_expandable.styl 8405 2017-05-22 17:29:39Z miheev $

// @require '../!Defaults.styl'

.ReportDisplayGroup
    &_expandable
        //

