// $Date: 2017-06-06 15:15:36 +0300 (Вт, 06 июн 2017) $
// $Id: ReportPrint__Title.styl 8547 2017-06-06 12:15:36Z miheev $

// @require '../!Defaults.styl'

.ReportPrint
    &__Title
        margin-bottom: 20px
        font-size: $font-size-xxl
        color: $neutral-color
        border-bottom: 3px solid lighten($neutral-color,30)
        padding-bottom: 5px
        //

