// $Date: 2017-06-06 15:15:36 +0300 (Вт, 06 июн 2017) $
// $Id: ReportPrintStat__ItemLabel.styl 8547 2017-06-06 12:15:36Z miheev $

// @require '../!Defaults.styl'

.ReportPrintStat
    &__ItemLabel
        color: $neutral-color
        display: inline-block
        padding-right: 5px
        //

