// $Date: 2017-04-14 15:42:05 +0300 (Пт, 14 апр 2017) $
// $Id: ReportPrintStat__ItemValue.styl 8143 2017-04-14 12:42:05Z miheev $

// @require '../!Defaults.styl'

.ReportPrintStat
    &__ItemValue
        display: inline-block
        padding-right: 5px
        //

