// $Date: 2017-05-23 17:57:23 +0300 (Вт, 23 май 2017) $
// $Id: ReportDisplayGroup__DetailsContent.styl 8417 2017-05-23 14:57:23Z miheev $

// @require '../!Defaults.styl'

.ReportDisplayGroup
    &__DetailsContent
        &:not(:empty)
            padding: 10px 10px
            padding-bottom: 0
        overflow: hidden
        > * // ^[0]__StatBlock
            margin-bottom: 10px
        //

