// $Date: 2017-06-09 19:46:24 +0300 (Пт, 09 июн 2017) $
// $Id: ReportDisplayTitleStat.styl 8583 2017-06-09 16:46:24Z miheev $

@require '!Defaults.styl'

.ReportDisplayTitleStat
    white-space: nowrap
    overflow: hidden
    height: $ItemHeight
    //
