// $Date: 2017-06-06 15:15:36 +0300 (Вт, 06 июн 2017) $
// $Id: ReportPrintGroup__Title.styl 8547 2017-06-06 12:15:36Z miheev $

// @require '../!Defaults.styl'

.ReportPrintGroup
    &__Title
        margin-top: 15px
        margin-bottom: 15px
        font-size: $font-size-l
        color: $neutral-color
        border-bottom: 2px solid lighten($neutral-color,30)
        padding-bottom: 2px
        //

