// $Date: 2017-06-06 15:15:36 +0300 (Вт, 06 июн 2017) $
// $Id: ReportPrintGroup.styl 8547 2017-06-06 12:15:36Z miheev $

// @require '!Defaults.styl'

.ReportPrintGroup
    &__Table + &__Stat
    &__Stat + &__Table
        margin-top: 10px
    //
