// $Date: 2017-06-08 20:37:37 +0300 (Чт, 08 июн 2017) $
// $Id: ReportDisplayTitleStat__Text.styl 8579 2017-06-08 17:37:37Z miheev $

// @require '../!Defaults.styl'

.ReportDisplayTitleStat
    &__Text
        // height: $input_size
        line-height: $input_size
        display: inline-block
        white-space: nowrap
        //

