
$ObjectsSelector_height = 120px
$ObjectsSelector_line_offset = 5px

$line_height = $ObjectsSelector_height - $ObjectsSelector_line_offset * 2
$text_color = #777

// $cell-spacing-h = 2px
// $cell-spacing-v = 0px
// $cell-padding-h = 10px
// $cell-padding-v = 5px

