@require "__defaults.styl"

.ObjectsSelector
    position: relative;
    // border: 1px solid red
    // height: $ObjectsSelector_height
    max-height: $ObjectsSelector_height
    // line-height: $ObjectsSelector_height
    // padding: 5px 5px
    // text-align: center
    // color: #CCC
    overflow: hidden
    clearfix()
    // background-color: lighten($neutral-color,35)

// .box_group//_id_ko_filter
//     &.box_group_show_all
//         // .button_id_show_more
//         .box_actions__group_id_show_more
//             display: none
