// $Date: 2017-04-17 12:38:13 +0300 (Пн, 17 апр 2017) $
// $Id: NavHeader__Expand.styl 8155 2017-04-17 09:38:13Z miheev $

.NavHeader__Expand
    float: right
    // Располагаем кнопку у нижнего края шапки
    .button
        top: 15px
    //
