// $Date: 2017-04-02 20:33:52 +0300 (Вс, 02 апр 2017) $
// $Id: NavHeader__UserName.styl 8025 2017-04-02 17:33:52Z miheev $

.NavHeader
    &__UserName
        .button.button_theme_islands
            // background: alpha(#000,.5)
    //
