// $Date: 2017-06-02 21:02:56 +0300 (Пт, 02 июн 2017) $
// $Id: ReportPrint.styl 8482 2017-06-02 18:02:56Z miheev $

// @require '!Defaults.styl'

.ReportPrint
    background-color: $paper-color
    padding: 20px
    margin: 0
    //
