@require "../__defaults.styl"

.tableview_hoverable
    // .tableview__bodyrow
    //     // cursor: default
    //     cursor: pointer
    .tableview__bodyrow_hovered
        .tableview__bodycell
            @extend $hovered_cell
    // .tableview__bodyrow_selected
    //     .tableview__bodycell
    //         @extend $selected_cell
    // .tableview__bodyrow_selected.tableview__bodyrow_hovered
    //     .tableview__bodycell
    //         @extend $selected_hovered_cell

