@require "../__defaults.styl"

.tableview
    &:not(.tableview_resizable)
        .tableview_vpadded_top
            margin-top: 10px
        .tableview_vpadded_bottom
            margin-bottom: 10px
        .tableview_vpadded_both
        .tableview_vpadded
            margin-top: 10px
            margin-bottom: 10px


